Support Trailers in HTTP/1.1 chunked encoding and HTTP/2

The HTTP/1.1 chunked encoding and HTTP/2 both allow responses to be followed by a second set of headers, referred to as "trailers".  The warp server and the Network.Wai Response type do not currently allow applications to provide these trailers.

Unfortunately I don't see a clean and backwards-compatible way to add support for this.  Adding an extra constructor to Response is awkward (since it's essentially the same as ResponseStream) and breaks servers.  Changing the ResponseStream constructor and leaving responseStream as an adapter breaks servers and any middleware that assumes a Response can be faithfully encoded as (StreamingBody, Headers, Status).  Depositing trailers in the Vault and hoping the server notices them is awkward.

Also mentioned as backwards incompatible is HTTP/2 push

I think pushed streams can be handled similarly to connection takeovers, e.g. ResponsePush [PushedStream] Response Response, where the second response is a backup response to be used if the transport is not capable of pushing streams.  This does break compatibility, but it's easy to fix by serving the backup request.

I've got a prototype of this working for HTTP/2, by extending the stream in the ResponseStream constructor to return a list of trailers.

Compatibility notes:
- Unaware server implementations will probably gain a warning about discarding a [(ByteString, ByteString)].  (With my changes, warp currently has such a warning in the HTTP/1 handler).
- Existing applications are unaffected because 'responseStream' has the same type signature as before, and automatically promotes the stream body to return an empty list.
- New applications can use 'responseStreamTrailers'.
- Middleware may inadvertently strip trailers, because 'responseToStream' still returns a trailer-less 'StreamingBody'.

Now we have a starting point from which to discuss API changes.

This is now visible at https://github.com/awpr/wai/commits/support_http2_trailers.

Yes, the reason why I have not supported trailers yet is that the interface does not support it.

We need to think the request side, too.

For push, I'm thinking the Jetty way. Warp can learn traffic patterns and automatically push some contents. This would be possible by observing Referers. But note that pushing CSS and JS gets more poor performance than no-pushing in come cases. So, I have not decided what I will do in the future.

I would suggest that Warp not implement a high-level feature like content pushing automatically. It should be opt-in or with some logic the application provides. Otherwise you risk non-idempotent things being pushed to the client.

(I know `GET` should always be idempotent, but I'm being realistic.)

It seems to me if pushed streams were an extra Response constructor with a normal response and a backup response, such an automatic content pushing feature could fit nicely into a middleware that adds pushed streams to the user's response.  Then application writers could opt into it where appropriate and leave it out otherwise.

That said I think pushed streams deserve their own issue since this one is about trailers.

Sorry for the delay. My summer vacation is over. I would shift my gear from now on.

@AaronFriel Push, priority etc are research issues. Nothing is decided. I welcome users' opinions.

@awpr One possible way to not change Response constructors is using response headers. For instance, (":push", "default.css"). I heard that some other servers take this way.

@awpr Would you tell me the reasons why you need trailers?

In my particular case, I'm trying to interoperate with existing clients that strictly require trailers to be present as part of the semantics of the request.  In general, though, I want Haskell to have the best story of any language for HTTP/2, and supporting it fully and generally is a prerequisite for that.  I've got a more detailed reply in the works.

OK. Thanks.

Generally speaking, trailers can be decided at the end of HTTP/2 stream. For instance, calculating a checksum (or hash) value for streaming type contents. So, we need new APIs to implement this usage.

Having thought about it some more, I'm now convinced it doesn't make sense for this HTTP/2 implementation to remain tightly coupled to WAI and Warp.  The primary reason I think this is that HTTP/2 is fundamentally different in nature from HTTP/1 -- a lot of the things that made sense for HTTP/1 and HTTP/1.1 no longer do for HTTP/2, and vice versa.

First and foremost, HTTP/2 multiplexes the connection between many streams.  This on its own knocks out a big part of WAI's feature set:

- The ResponseFile constructor no longer serves any purpose under HTTP/2, because we can't just go into kernel space and send the whole thing with sendfile() when the connection is shared with other streams.
- The ResponseRaw constructor no longer makes sense because taking over an HTTP/2 connection would break all the other streams.
- The ResponseBuilder constructor no longer has any inherent meaning except as a convenience for IO-free responses; it will still be broken up into data frames subject to the window size.  It's now just a degenerate case of ResponseStream.

Second, HTTP/2 has an extra stage of request processing, to create the trailers after the response body has been sent.  This doesn't fit into the current WAI Application type.  Although it's reasonably easy to add trailers to the result type of StreamingBody without breaking much (as I did in the branch I linked above), that doesn't allow applications to set them in response to exceptions.  Changing the return type of Application to include the trailers is doable (I've also done that this evening, and tried out an example Application that catches exceptions in the stream body and 'show's them in the trailers), but it breaks all existing Applications and probably most servers, for a feature that's not applicable except in HTTP/2.

Third, HTTP/2 supports pushing streams from the server to the client.  Pushed streams don't need to be associated with any particular request; they can be initiated at any time for any reason.  There's no room for that in the Application type.  We could wedge a 'pushStream' action into the Request, or add a PushResponse constructor that attempts to push streams before sending the normal Response, or have the server handle pushing streams itself based on heuristics, but all of those are messy for their own reasons.

All of this adds up to a grim picture of a future where WAI as it exists today attempts to be a fully general interface for both HTTP/1 and HTTP/2 applications.  Most immediately, compatibility would break.  That's annoying but surmountable.  More importantly, application implementers would have to contend with irrelevant and silently unsupported features.  Today, only connection takeovers can be degraded by servers (is that correct?).  In this hypothetical future, connection takeovers would be ignored in HTTP/2, trailers would be ignored in HTTP/1 but potentially not in HTTP/1.1, and pushed streams would be ignored in HTTP/1 and HTTP/1.1.  All HTTP/2-unaware applications would have to return the empty list of trailers and just accept that they're unused.  Server implementations of HTTP/2 would have to contend with irrelevant features too -- just look at the complexity in Sender.hs to deal with the four different response types, when fundamentally the only operation is sending a block of data.

What I propose to do instead is this: define an interface in the spirit (and probably also the repo :+1: ) of WAI, specifically for HTTP/2.  Separate Warp's current implementation of HTTP/2 into its own package ("warp-http2" perhaps).  Allow Warp to serve HTTP/2 connections by converting Applications to the HTTP/2 equivalent and handing over the connection to warp-http2.  (This conversion would look a lot like the latter part of the current Sender.hs, adapting the Response constructors to the chunk-oriented nature of HTTP/2).

This means WAI can stay as it is, and the HTTP/2 equivalent can have access to the full power of the protocol; WAI Applications can be promoted to HTTP/2 applications easily and automatically to give existing servers a free performance boost, while HTTP/2 applications don't have to cater to the least common denominator (HTTP/1) to fit into WAI.  Handlers for the HTTP/2 WAI-like interface won't need to shoulder the complexity of irrelevant features.

Here's a rough sketch of what I imagine:

    data Session = Session { end :: IO (), pushPromise :: PromiseHeaders -> Responder -> IO (), ... connection-wide metadata ... }
    data Request = Request { resetStream :: Http2Code -> Text -> IO (), requestBody :: IO ByteString, ... per-request metadata ... }
    type Response a = (Headers, Status, Body a)
    type Body a = (Builder -> IO ()) -> IO () -> IO a
    type Responder = (forall a. Response a -> IO a) -> IO Trailers
    type Application = Session -> Request -> Responder
    type SessionHook = Session -> IO ()

I think the existing HTTP/2 code would require surprisingly few changes to support this interface (excluding pushPromise).  I've already added the protocol-level support for sending trailers in my fork, and the rest of the differences are largely shuffling things around.

The key differences compared to WAI:

- The distinction between connections and requests is explicit; application writers get notified when a session is started, and each request gets information about the containing session.  This allows for pushing streams at any time.
- Responses have results; this way, information learned while streaming the response can be used to compute trailers (like checksums).  The application gets the result of the body (if it doesn't raise).
- The non-streaming constructors of Response are gone.  (It might make sense to change Body to support sendfile()ing a chunk of a file to the response, although it would be less beneficial in HTTP/2 since it would have to be in flow-control-sized frames).
- Application's final result is Trailers, which are presumably computed based on the result of the Response.  This means the application can catch exceptions from the body and send trailers to describe the failure after the fact.

The one-sentence summary: HTTP/2 is too different from HTTP/1 to force them into the same interface, so let's support them separately instead, and automatically promote HTTP/1 applications when necessary.

All observations are appealing to me.

One quick question: if warp-http2 is used, only HTTP/2 is provided for port 80 and 443?

I haven't thought through the API yet for getting HTTP/2 applications into the server loop, but I was picturing 'warp-http2' exporting just Network.Wai.Handler.Warp.HTTP2.http2 (i.e. the connection-level implementation) and the automatic upgrade code ('promoteApplication'?).  I think the typical desired configuration for most people would be to provide a normal WAI application and have it automatically promoted by Warp and served over all three protocol levels (like it does now).  Even for people who need the extra features of HTTP/2, I doubt a server that only accepts HTTP/2 connections would be a desirable configuration, since that would forbid serving simple HTTP pages on the same server.  So I think the typical configuration for HTTP/2-aware applications would be to provide both an HTTP2.Application and a WAI.Application (as a "backup application") to start the server.  I think in my case I would implement some debug/status pages as a WAI.Application, and use it as both the backup application and part of the HTTP2 one (via protomeApplication).

Maybe this all boils down to adding a new variant of 'run' to Warp that accepts the HTTP/2-specialized application.  Maybe then:

    run port app = runWithHTTP2 port (promoteApplication app) app

It might not actually make sense to have a literal package 'warp-http2' separate from 'warp' since it uses Warp-specific internal types everywhere; I guess what actually matters is that HTTP/2 has its own more powerful Application-like type that serves as the interface to the whole HTTP2 directory.

Also I should point out that I initially set out yesterday to write an argument for making major changes to 'WAI.Application' to support the new HTTP/2 features, but as I wrote it I became convinced it was too messy for the reasons mentioned above, and decided to change course.  I'm not necessarily opposed to that strategy, but I think the disadvantages outweigh the benefits.

I would be in favor of splitting out HTTP/2 into its own module, so that an application can have fine-grained and precise control over the HTTP/2 stream. The points mentioned by @awpr are all well-thought out. HTTP/1.1 allows great kernel optimizations, HTTP/2.0, by its nature, disallows those. Should we penalize the API for everyone who uses only one or the other?

One last note: I would like to be able to support HTTP/1.1 clients on the same port. I think that if warp-http2 admits a new `runWithHttp2`<sup>[1]</sup>, then I would like it to accept a non-HTTP2 application as well. I would even argue that the default `run` for HTTP2/.0 should require this, because many webservers will not function for older clients otherwise.

<sup>[1]</sup> I prefer camel cased names when the acronym is more than 2 or 3 letters. Just a C# habit.

I always advocate for small-caps when this comes up: runWithHᴛᴛᴘ2.  For some reason it never catches on :)

@awpr @AaronFriel Please go ahead on `warp-http2`. I would help you.

I think my first milestone will be to add a separate type for HTTP/2 applications that's nearly identical to the current one (the initial one will probably include trailers).  Once the types are separate, the rest of the changes can be made incrementally without causing compatibility issues with the existing WAI types.

I've implemented what I described in my previous comment in https://github.com/awpr/wai/commits/wai_http2.  I won't pull-request it just yet because I think it's better not to release it before the Http2Application type is at least somewhat stable, and I don't want to have something in the central repo that shouldn't be released.

That said, this is working nicely for my use case -- the HTTP/2 application runs with exception-dependent trailers, and the backup application is served over plain HTTP.

Comments are welcome (name bikeshedding in particular is easier to fix now than it will be later).

Today's progress: all the irrelevant extra Response constructors are gone, and HTTP/2 applications' streams can now return a result of arbitrary type.

I realized pushed streams are in fact required to be associated with an existing open stream, so a pushPromise action can't be part of a Session type.  Without that, it's just an isSecure boolean and a remote address, which isn't worth separating from Request.  So, instead I'll add the pushPromise action elsewhere.

One caveat: this will add an extra copy for each data frame of a promoted ResponseFile application.  It might be worthwhile to add support for sending chunks of data in the form of IO actions that write directly to a buffer (like a partially applied hGetBufSome) to avoid this copy.

> One caveat: this will add an extra copy for each data frame of a promoted ResponseFile application. It might be worthwhile to add support for sending chunks of data in the form of IO actions that write directly to a buffer (like a partially applied hGetBufSome) to avoid this copy.

That is my concern, too. Is it possilbe to avoid extra copy for `ResponseFile` in your scheme? I have no idea.

Just FYI: http://daniel.haxx.se/blog/2015/07/31/the-last-http-workshop-day/

If the Builder in Body were replaced with something isomorphic to Either
Builder (Buffer -> Int -> IO Int), it could be essentially the same as
before, where promoting a ResponseFile means opening a Handle and
repeatedly sending hGetBufSome h until EOF.  I would worry this is too
powerful, though, since it can do arbitrary IO in the sender thread rather
than just send a chunk of a file, and it exposes the buffer directly to
users.  An alternative would be sending a Handle directly with a max length
and possibly an offset, so only file reads could be done.

I also considered trying to speed this up with mmap, but it looks like that
would still mean either copying the file or doubling up on syscalls to send
the mmapped region directly.  Depending on the flow control window size the
latter might actually be okay.

On Thu, Jul 30, 2015, 23:20 Kazu Yamamoto <notifications@github.com> wrote:

> Just FYI:
> http://daniel.haxx.se/blog/2015/07/31/the-last-http-workshop-day/
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/yesodweb/wai/issues/402#issuecomment-126579111>.
>


h2i (mentioned on that link) will be extremely helpful for debugging.  Last time I needed to control exact frames I used ghex and "nc localhost 1204 < manuallyConstructedData"

I've just successfully had Chrome receive and use a pushed resource from Warp.  There are still a ton of details to iron out, but my working copy is at least capable of pushing streams that Chrome understands.  To verify that it was actually using the pushed version, I made it serve a simple HTML page with a script reference, set it up to push one script but serve a different one if asked explicitly for that script, and checked that the one that ended up running was the one I pushed.  (I also checked that it never made an explicit request for that resource at all).

> I've just successfully had Chrome receive and use a pushed resource from Warp

Congratulation!

Just note: weight of pushing streams is fixed to 16. (See section 5.3.5 in RFC 7540). This might be a problem when other streams have heavier weights. 

> If the Builder in Body were replaced with something isomorphic to Either Builder (Buffer -> Int -> IO Int), it could be essentially the same as before, where promoting a ResponseFile means opening a Handle and repeatedly sending hGetBufSome h until EOF. 

I don't understand this. Could you implement this in a topic branch?

Ah, we should discuss pushing stuff in #415.

Sorry, I was referencing types that only exist in my fork.  Currently there's:

    type Response a = (Status, Headers, Body a)
    type Body a = (Builder -> IO ()) -> IO () -> IO a

If it were instead:

    data Chunk = CBuilder Builder | CFileSegment Handle Int Int
    type Body a = (Chunk -> IO ()) -> IO () -> IO a

then Sender.hs could read from the Handle directly into the connection send buffer like it currently does for 'ResponseFile'.

So, do you mean that you would give up on abstracting everything to streaming?

No, it would still be streaming, but some individual chunks could be read directly from a handle into the send buffer.

The issue I've discovered with this is that with the way the sender currently works, there could still be up to ten of these queued up when the application does its cleanup (such as closing the handle), since 'respond' can exit before the sender drains the queue -- which means the sender would then try to read from a closed handle.  That could be worked around by giving each stream its own send buffer that it writes directly into and flushes via the sender thread as necessary, but that's a bigger change.