Warp doesn't send a Date header

Hi guys,

RFC 2616 stipulates in section 14.18:

```
The Date general-header field represents the date and time at which
the message was originated, having the same semantics as orig-date in
RFC 822. The field value is an HTTP-date, as described in section
3.3.1; it MUST be sent in RFC 1123 [8]-date format.

    Date  = "Date" ":" HTTP-date

An example is

    Date: Tue, 15 Nov 1994 08:12:31 GMT

Origin servers MUST include a Date header field in all responses,
except in these cases:
```

Warp doesn't seem to be generating this header:

```
{-# LANGUAGE OverloadedStrings #-}
module Main where

import Data.ByteString.Lazy.Char8 ()
import Network.HTTP.Types.Status
import Network.Wai (responseLBS)
import Network.Wai.Handler.Warp (run)

main = run 8000 application

application _ = return $ responseLBS status200 [] "PONG"
```

And the output:

```
$ curl --raw -i http://localhost:8000/
HTTP/1.1 200 OK
Server: Warp/1.3.9
Transfer-Encoding: chunked

0004
PONG
0
```
